<h2>Edit form</h2>

<%=render partial: 'astro', locals: {astrophotographer: @astrophotographer} %>

<%=button_to "Delete", astrophotographer_path(@astrophotographer), :method => :delete, data:{confirm: "Are you sure you want to delete your account?"}%>    
