<h1>All Astrophotographers</h1>
<% @astrophotographers.each do |astro|%>
    <p><%= link_to astro.username, astrophotographer_path(astro)%></p>

<%end%>

 
<%=link_to "Add new Constellation", new_constellation_path%>