<%=link_to "Home", root_path%>
<%=link_to "Constellations", constellations_path(@constellation)%> |
<%=link_to "Stargazings", stargazings_path(@stargazing)%> 

<h1>All Astrophotographers</h1>
<% @astrophotographers.each do |astro|%>
    <p><%= link_to astro.username, astrophotographer_path(astro)%></p>

<%end%>

 
