<h1>All Astrophotographers</h1>
<% @astrophotographers.each do |astro|%>
    <p><%= link_to astro.username, "/astrophotographers/#{astro.id}"%></p>
    <p><%= astro.profile_image %></p>
    <p><%= astro.bio%></p>
<%end%>