<!--
<h1>Welcome back, <%= @astrophotographer.username %></h1> 

<%= form_tag("/logout", method: 'delete') do %>
    <%= submit_tag "Logout" %>

<% end %>

<%= link_to "Logout", logout_path, method: "delete" %>

-->