<h1>Constellation Lists</h1>
   <%@constellations.each do |cons|%>
      <p><%=link_to cons.name, constellation_stargazings_path(cons)%></p>
<%end%>

   <%=link_to 'Add Constellation and Stargazing', new_constellation_path%>
 

<%=link_to 'All Constellatons', constellations_path%>

<%=link_to 'home', root_path%>