<h1>Constellation Lists</h1>
   <%@constellations.each do |cons|%>
      <p><%=link_to cons.name, constellations_path(cons)%></p>
      
<%end%>

<%=link_to 'Add a Constellation', new_constellation_path%>
 

<%=link_to 'Add a Stargazing', new_stargazing_path%>

<%=link_to 'home', root_path%>