<%=link_to 'home', root_path%>

<h1>Constellation Lists</h1>
   <%@constellations.each do |cons|%>
   <p><%=link_to cons.constellation_name, constellation_path(cons)%></p>
 <%end%>   

<%=link_to 'Add a new Constellation', new_constellation_path%>


