
<%if @constellation.errors.any?%>
    <h3>
        <p><%=pluralize(@constellation.errors.count, "error")%></p>
    </h3>
        <ul>
            <%@constellation.errors.full_messages.each do |m|%>
            <li><%=m%></li>
    <%end%>
        </ul>
<%end%>


<h1>New Constellation</h1>
<%=render partial: 'cons', locals: {constellation: @constellation} %>


<style>
.field_with_errors > input {
  border: 1px solid red;
}
</style>