<h1>New Constellation</h1>
<%=render partial: 'cons', locals: {constellation: @constellation} %>

<%if @constellation.errors.any?%>
    <h2>
        <p><%=pluralize(@constellation.errors.count, "error")%></p>
        prohibited this Constellation from being saved:
    </h2>
        <ul>
            <%@constellation.errors.full_messages.each do |m|%>
            <li><%=m%></li>
    <%end%>
        </ul>
<%end%>





<style>
.field_with_errors > input {
  border: 1px solid red;
}
</style>