<h2>Constellation</h2>

<p>
    <strong><label>Name:</label></strong>
    <%= @constellation.name %>
</p>

<p>
    <strong><label>Description:</label></strong>
    <%= @constellation.description %>
</p>

<p>
  <strong><label>Light Years Away from Earth:</label></strong>
    <%= @constellation.light_years_away_from_earth %>
</p>

<p>
   <strong><label>Image URL:</label></strong>
    <%= @constellation.image_url %>
</p>
