

<h1>Edit Stargazing</h1>
<%=render partial: 'star', locals: {stargazing: @stargazing}%>

<%=link_to 'Home', root_path%> | <%=link_ro 'Astrophotographers', astrophotographers_path%> | <%=link_to 'Constellations', constellations_path%>
<br><br>

</h1>Edit Stargazing!<h1>

