<h1>Welcome, <%=current_user.username.capitalize%></h1>
<%@constellation.stargazings.each do |star|%>
    <p><%=link_to star.name, constellation_stargazings_path(@stargazings)%></p>
<%end%>
<br>
<%=link_to 'Add Constellation', new_constellation_path%>
<%=link_to 'All Constellation', constellations_path%>

