
<%link_to "All Stargazings", stargazing_path%>

<h2>Your list</h2>

<h3><%=@stargazing.constellation.constellation_name%></h3>
<p>Location: <%=@stargazing.location%></p>
<p>Weather: <%=@stargazing.weather%></p>
<p>Time: <%=@stargazing.time%></p>
