
<style>
img {
 position: relative;
   
    width: 100%;
    height: auto%;
    background-size: cover;
    overflow: hidden;s
}


</style>

<p>
<div class="img">
<%= link_to image_tag('astro_1.jpg'), signup_path %>
</div>
</p>